/*
Project Name: Blank Template
Client: Your Client
Author: Your Name
Developer @GA in NYC
*/


/******************************************
/* SETUP
/*******************************************/

/* Box Model Hack */
* {
     -moz-box-sizing: border-box; /* Firexfox */
     -webkit-box-sizing: border-box; /* Safari/Chrome/iOS/Android */
     box-sizing: border-box; /* IE */
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
  clear: both;
}

.alignright {
  float: right;
  padding: 0 0 10px 10px; /* note the padding around a right floated image */
}

.alignleft {
  float: left;
  padding: 0 10px 10px 0; /* note the padding around a left floated image */
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     color: #000;
     font-size: 12px;
     line-height: 1.4;
     font-family: 'Open Sans', sans-serif;
     background-color: #f0efef;
}

.container {
  width: 960px;
  margin: auto;
}

header#navbar {
  width: 100%;
  background-color: #033048;
  padding: 20px 0;
}

.navbar-left {
  float: left;
}


.navbar-left h1 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 800;
  color: white;
  font-size: 24px;
}

.navbar-left a {
  text-decoration: none;
  color: white;
}

.navbar-right {
  float: right;
}

.navbar-right ul li {
  display: inline-block;
  line-height: 30px;
  margin-left: 20px;
}

.navbar-right ul li a {
  font-size: 18px;
  text-decoration: none;
  color: #f9e42e;
}

.main {
  float: left;
  width: 70%;
  margin-right: 2%;
}

.sidebar {
 float: left;
 width: 28%;
 margin-top: 50px;
}

h2 {
  font-size: 40px;
  font-weight: 600;
  color: #033048;
  margin-top: 50px;
}

img {
  width: 100%;
  margin-top: 20px;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin-top: 15px;
}

.dropcap { 
  float: left; 
  color: #033048; 
  font-size: 75px; 
  line-height: 60px; 
  padding-top: 4px; 
  padding-right: 8px; 
  padding-left: 3px;
}

.read-more {
  margin-top: 10px;
  text-align: right;
  font-weight: 600;
  color: #033048;
  font-size: 20px;
}

.learn-more {
  text-align: left;
  font-weight: 800;
  color: #033048;
  font-size: 18px;
}

h3 {
  font-size: 32px;
  font-weight: 600;
  color: #033048;
  margin-top: 10px;
}

.sidebar p {
  margin-top: 1px;
}

section.article p {

}

#calltoaction {
  background-color: #f9e42e;
  padding-top: 30px;
  padding-bottom: 30px;
}

.button {
  font-family: 'Open Sans', sans-serif;
  color: white;
  border-radius: 5px;
  font-weight: 800;
  padding: 15px 0;
  width: 300px;
  font-size: 28px;
  text-align: center;
  display: block;
  margin: 0 auto;
  text-decoration: none;
}

.blue {
  background: #033048;
  color: #fff;
  font-size: 24px;
}

.footer {
  color: white;
  text-align: center;
  padding-top: 30px;
  padding-bottom: 30px;
}

.icons {
  display: inline-block;
  list-style: none;
  margin: 0 26px 75px;
  text-align: center;
}

#icons {
  text-align: center;
}

h4 {
  font-family: 'Open Sans', sans-serif;
  font-size: 24px;
  color: #f9e42e;
  font-weight: 800;
  text-align: center;
  padding: 20px 50px 20px 50px;
}

p {
  font-family: 'Open Sans', sans-serif;
  font-size: 13px;
  color: black; 
  font-weight: 300;
  text-align: left;
  letter-spacing: 1px;
}

li {
  line-height: 20px;
}

.sidebar li {
  line-height: 33px;
  text-decoration: none;
  font-weight: 300;
  font-size: 24px;
}

.sidebar a {
  text-decoration: none;
  color: #033048;
}

#footer {
  background-color: #121212;

}

#icons img {
  padding: 10px 15px;
  width: auto;
}

.ad {
  background-color: white;
  height: 500px;
}

.ad h2 {
  padding: 10px;
  text-align: center;
}
